.weather {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    &-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15vh;
        gap: 1vw;
        &-city{
            font: {
                family: $title-font;
                size: 2rem;
            }
        }
        &-picture {
           height: 100%;
        }
    }
    &-week{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2vw;
    }
    &-daily {
        background: $card-color;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        padding: 1rem;
        min-width: 15vw;
        &-date{
            text-align: center;
        }
        &-icon{
            width: 50px;
            margin: auto 35%;
        }
        &-descr {
            text-align: center;
        }
    }
}